@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("../fonts/Montserrat/helveticaneuecyr-light.woff2") format("woff2"),
    url("../fonts/Montserrat/helveticaneuecyr-light.woff") format("woff");
  font-weight: light;
  font-style: normal;
} */

/* ---- Helvetica Neue Cyr ---- */

@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr/helveticaneuecyr-roman.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr/helveticaneuecyr-roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr/helveticaneuecyr-medium.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr/helveticaneuecyr-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Cyr";
  src: url("../fonts/HelveticaNeueCyr/helveticaneuecyr-bold.woff2") format("woff2"),
    url("../fonts/HelveticaNeueCyr/helveticaneuecyr-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* ---- HeliosCond ---- */

@font-face {
  font-family: "Helios Cond";
  src: url("../fonts/HeliosCond/HeliosCondRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helios Cond";
  src: url("../fonts/HeliosCond/HeliosCondBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue Cyr", "Helvetica", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Helios Cond", "Helvetica", sans-serif;
}

ul {
  list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer components {
  .flex-center-col {
    @apply flex items-center justify-center flex-col;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}